button {
    font-size: 18px;
    background-color: rgb(255, 216, 20);
    padding: 8px 50px 8px 50px;
    border: none;
    border-radius: 18px;
}

.request-button {
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    margin-right: 30px;
}

.schedule-button {
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

.game-on {
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.is-toggled {
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}