button {
    color: white;
    border: none;
    padding: 15px 15px;
    background-color: rgba(102, 100, 100, 0.658);
    margin-right: 10px;
    border-radius: 50px;
}

body {
    background-color: black;
}

.operations {
    background-color: orange;
}